# Binary
/pit
/pit.exe

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Run snapshots
/runs/

# Test artifacts
/projects/**/

# Secrets
secrets.toml
.secrets
# virtual environments
.venv

#build artifacts
bin
